<div class="task">
  <div class="display">
    <div class="task-content"><%= content %></div>
    <span class="destroy"></span>
  </div>
  <div class="edit">
    <input class="task-input" type="text" value="<%= content %>" />
  </div>
  <div class="buttons">
    <button class="move-up">Up</button>
    <button class="move-down">Down</button>
    <% if (sprint === null) { %>
    <button class="add-to-sprint">→</button>
    <% } else { %>
    <button class="remove-from-sprint">←</button>
    <% } %>
  </div>
</div>
