<div class="task <%= status %>">
  <div class="display">
    <div class="task-content"><%= content %></div>
    <div class="buttons">
      <button class="destroy">Destroy</button>
      <% if (status !== 'new') { %>
      <button class="decrement-status">←</button>
      <% } %>
      <% if (status !== 'done') { %>
      <button class="increment-status">→</button>
      <% } %>
    </div>
  </div>
  <div class="edit">
    <input class="task-input" type="text" value="<%= content %>" />
  </div>
</div>
